.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.accordion-item {
    
    cursor: pointer;
}
.meme_input {
    appearance: none;
}
.meme_1 {
    display: block;
    position: relative;
    cursor: pointer;
    transition: backgraund .2s ease-out;
}
.accordion {
    cursor: pointer;
    width: 50%;
}
.accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid rgb(41, 69, 105);
    border-bottom: 1.5px solid rgb(41, 69, 105);
    padding: 1.5%;
}


.font-label {
    font-family: cursive;
    font-weight: 600;
    font-size: x-large;
}
.font-h1 {
    font-family: cursive;
    font-weight: 600;
    font-size: xxx-large;
}
.meme_img {
    display: none;
    /*display: flex;
    /* align-items: center; */
    /*text-align: center;*/
    
}
.mem {
    transition: all 5s ease-out;
}
.accordion-title:hover + .mem {
    display: flex;
    align-items: center; 
    text-align: center;
}
.mem-img {
    width: 50%;
}
.min, .plus {
    display: none;
}

.accordion:hover:after,
.accordion input:checked + label:hover:after{
 content: '';
 position: relative;
 width: 24px;
 height: 24px;
 /*right: 13px;
 top: 7px;*/
 background: transparent url(../cssBayan/img/min.svg) no-repeat center center;
}
.accordion>section:hover {
    /*background-color: rgb(210, 223, 223);*/
    transition: all 2s ease-out;
    background: transparent url(../cssBayan/img/min.svg) no-repeat right right;
}
.accordion-title:hover  .min {
    display: flex;
    align-items: center; 
    text-align: center;
}
.accordion:hover  .plus {
    display: flex;
    align-items: center; 
    text-align: center;
}
.block-checked {
    display: flex;
    align-items: center; 
    text-align: center;
}

